
<div class="row">
<div class="col-sm-6">
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="800" height="600" src="https://charts.mongodb.com/charts-project-0-vlcew/embed/charts?id=62e68693-8e95-47aa-8271-c2bb674c0a76&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
</div>
<div class="col-sm-6">
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="800" height="600" src="https://charts.mongodb.com/charts-project-0-vlcew/embed/charts?id=62e69194-5305-4645-8603-bf62e7b66f45&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
</div>
<div class="col-sm-6">
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="800" height="600" src="https://charts.mongodb.com/charts-project-0-vlcew/embed/charts?id=62e69376-8e95-4474-8bef-c2bb67537ae0&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
</div>
<div class="col-sm-6">
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="800" height="600" src="https://charts.mongodb.com/charts-project-0-vlcew/embed/charts?id=f7f62766-c013-46dd-9af3-9bf73eb5a381&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
</div>
</div>

