<div class="row">
    <div class="col-md-12">
      <nb-card>
       <nb-card-header><h5 class="grid-h">Tablero Global</h5></nb-card-header>
       <nb-card-body>
        <div class="row">
        <div class="col-md-4">
        <nb-alert status="success">Estacion 1 - Rio Molino 1 <a class="small text-white stretched-link" routerLink="/pages/datosestacion">Ver datos de los sensores</a></nb-alert>
        </div>
        <div class="col-md-4">
        <nb-alert status="danger">Estacion 2 - Rio Molino 2 <a class="small text-white stretched-link" routerLink="/pages/tableroglobal">Estacion no disponible</a></nb-alert>
        </div>
        <div class="col-md-4">
        <nb-alert status="danger">Estacion 3 - Rio Molino 3 <a class="small text-white stretched-link" routerLink="/pages/tableroglobal">Estacion no disponible</a></nb-alert>
        </div>
        <div class="col-md-4">
        <nb-alert status="danger">Estacion 4 - Rio Las Piedras <a class="small text-white stretched-link" routerLink="/pages/tableroglobal">Estacion no disponible</a></nb-alert>
        </div>
        <div class="col-md-4">
        <nb-alert status="danger">Estacion 5 - Rio Cauca <a class="small text-white stretched-link" routerLink="/pages/tableroglobal">Estacion no disponible</a></nb-alert>
        </div>
        </div>
       </nb-card-body>
     </nb-card>
    </div>
