<div class="col-md-12">
  <nb-card>
    <nb-card-header><h5 class="grid-h">Crear Alerta</h5></nb-card-header>
    <nb-card-body>
           <form class="mt-3" [formGroup]="alertaForm" (ngSubmit)="agregarAlerta()">
      <div class="row">
        <div class="col-md-6">
                                
            <label for="inputNombre" class="label col-sm-3 col-form-label">Nombre de alerta</label>
            <input type="text" formControlName="name" nbInput fullWidth placeholder="Nombre Alerta">
            <div class="text-danger"
                *ngIf="alertaForm.get('name')?.hasError('required') && alertaForm.get('name')?.touched">
                <span>El nombre de la alerta <strong>es obligatorio</strong></span>
            </div>

            <label for="inputEstacion" class="label col-sm-3 col-form-label">Estación </label>
            <div class="col-md-12">
              <nb-card-body>
                <nb-select formControlName="station" selected="" class="col-md-12" size="large">
                  <nb-option value="1">Estación 1</nb-option>
                  <nb-option value="2">Estación 2</nb-option>
                  <nb-option value="3">Estación 3</nb-option>
                  <nb-option value="4">Estación 4</nb-option>
                  <nb-option value="5">Estación 5</nb-option>
                  <nb-option value="6">Estación 6</nb-option>
                </nb-select>
            <div class="text-danger"
                *ngIf="alertaForm.get('station')?.hasError('required') && alertaForm.get('station')?.touched">
                <span>La estación <strong>es obligatoria</strong></span>
            </div>
              </nb-card-body>
            </div>

            <label for="inputParametro" class="label col-sm-3 col-form-label">Parámetro</label>
            <div class="col-md-12">
              <nb-card-body>
                <nb-select formControlName="sensor" selected="" class="col-md-12" size="large">
                  <nb-option value="1">PH</nb-option>
                  <nb-option value="2">TSS</nb-option>
                  <nb-option value="3">CONDUCTIVIDAD</nb-option>
                  <nb-option value="4">TEMPERATURA</nb-option>
                </nb-select>
            <div class="text-danger"
                *ngIf="alertaForm.get('sensor')?.hasError('required') && alertaForm.get('sensor')?.touched">
                <span>La variable <strong>es obligatoria</strong></span>
            </div>
              </nb-card-body>
            </div>

            <label for="inputUmbral" class="label col-sm-3 col-form-label">Umbral</label>
            <input type="text" formControlName="umbral"nbInput fullWidth placeholder="Valor del Umbral">
            <div class="text-danger"
                *ngIf="alertaForm.get('umbral')?.hasError('required') && alertaForm.get('umbral')?.touched">
                <span>El umbral <strong>es obligatorio</strong></span>
            </div>

            <label for="inputValidacion" class="label col-sm-3 col-form-label">Validación</label>
            <div class="col-md-12">
              <nb-card-body>
                <nb-select formControlName="validation" selected="" class="col-md-12" size="large">
                  <nb-option value="true">Por exceso</nb-option>
                  <nb-option value="false">Por defecto</nb-option>
                </nb-select>
            <div class="text-danger"
                *ngIf="alertaForm.get('validation')?.hasError('required') && alertaForm.get('validation')?.touched">
                <span>La validación <strong>es obligatoria</strong></span>
            </div>
              </nb-card-body>
            </div>
        </div>
        

        <div class="col-md-6">

            <label for="inputDescripcion" class="label col-sm-3 col-form-label">Observaciones</label>
            <div class="col-md-12">
              <textarea nbInput formControlName="observation" placeholder="Observaciones" class="col-md-12" size="large" rows="5"></textarea>
            <div class="text-danger"
                *ngIf="alertaForm.get('observation')?.hasError('required') && alertaForm.get('observation')?.touched">
                <span>La observación <strong>es obligatoria</strong></span>
            </div>
            </div>

            <label for="inputFecha" class="label col-sm-3 col-form-label">Fecha de Inicio</label>
            <input type="text" nbInput fullWidth placeholder="DD/MM/AAAA">

            <label for="inputFecha" class="label col-sm-3 col-form-label">Fecha Final</label>
            <input type="text" nbInput fullWidth placeholder="DD/MM/AAAA">

        </div>
      </div>
        </form>

        <div class="offset-sm-5 col-sm-10">
        <button type="submit" [disabled]="alertaForm.invalid" class="btn btn-success btn-lg float-end" (click)="agregarAlerta()">ACEPTAR</button>
        </div>
    </nb-card-body>
  </nb-card>
</div>

<!-- <div class="container mt-5"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-lg-6 offset-lg-3"> -->
            <!-- <div class="card"> -->
                <!-- <div class="card-body text-center"> -->
                    <!-- <form class="mt-3" [formGroup]="alertaForm" (ngSubmit)="agregarEstacion()"> -->
                        <!-- <div class="mb-3"> -->
                            <!-- <input type="text" formControlName="estacion" class="form-control form-control-lg" -->
                                <!-- placeholder="Estacion"> -->
                            <!-- <div class="text-danger" -->
                                <!-- *ngIf="alertaForm.get('name')?.hasError('required') && alertaForm.get('name')?.touched"> -->
                                <!-- <span>El nombre de la estación <strong>es obligatorio</strong></span> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="mb-3"> -->
                            <!-- <input type="text" formControlName="location" class="form-control form-control-lg" -->
                                <!-- placeholder="Ubicacion"> -->
                            <!-- <div class="text-danger" -->
                                <!-- *ngIf="alertaForm.get('location')?.hasError('required') && alertaForm.get('location')?.touched"> -->
                                <!-- <span>La ubicación <strong>es obligatoria</strong></span> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="mb-3"> -->
                            <!-- <input type="text" formControlName="status" class="form-control form-control-lg" -->
                                <!-- placeholder="Estado"> -->
                            <!-- <div class="text-danger" -->
                                <!-- *ngIf="alertaForm.get('status')?.hasError('required') && alertaForm.get('status')?.touched"> -->
                                <!-- <span>El estado <strong>es obligatorio</strong></span> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="mb-3"> -->
                            <!-- <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button> -->
                            <!-- <button type="submit" [disabled]="!alertaForm.valid" class="btn btn-success btn-lg float-end">ACEPTAR</button> -->
                        <!-- </div> -->
                    <!-- </form> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
